html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    margin: 0;
    font-weight: 300;
}
h1 b {
    font-weight: 700
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.center-container {
    margin: 32px;
}

.content-card {
    background-color: #FFFFFF;
    color: black;
    padding: 32px;
}

.content-card h1 {
    font-size: 11vw;
}

.content-card i {
    line-height: 1.3em;
}

.center-container button {
    margin-top: 1px;
    width: 100%;
    padding: 16px;
    cursor: pointer;
    border: 0;
    font-size: 0;
    color: transparent;
    transition: background-color 200ms ease;
}

#github-button {
    background-color: #4FC3F7;
}

#github-button:hover {
    background-color: #039BE5;
}

#background-canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Non-mobile */
@media only screen and (min-width: 992px) {
    .content-card h1 {
        font-size: 109px;
    }
}